<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="body-content">

<h1 class="textContainer" th:text="${title}">Default Title</h1>

<nav class="textContainer" th:replace="fragments :: navigation"></nav>

<table class="table flash-table">

    <tr>
        <th>Person</th>
        <th>Action</th>
        <th>Object</th>
    </tr>

</table>
    <div class="flashcard-group" th:object="${paos}">
        <div th:each="pao : ${paos}">
            <div class="flashcard-container">
                <div class="flashcard">
                    <div class="flash-front" th:text="${pao.PaoNum}"></div>
                    <div class="flash-back" th:text="${pao.person}"></div>
                </div>
            </div>
            <div class="flashcard-container">
                <div class="flashcard">
                    <div class="flash-front" th:text="${pao.PaoNum}"></div>
                    <div class="flash-back" th:text="${pao.action}"></div>
                </div>
            </div>
            <div class="flashcard-container">
                <div class="flashcard">
                    <div class="flash-front" th:text="${pao.PaoNum}"></div>
                    <div class="flash-back" th:text="${pao.object}">back of card</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>