<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="body-content">

    <h1 class="textContainer" th:text="${title}">Default Title</h1>

    <nav class="textContainer" th:replace="fragments :: navigation"></nav>

    <p class="textContainer" th:unless="${paos} and ${paos.size()}">no paos ;(</p>


<table class="table">

    <tr>
        <th>Number</th>
        <th>Person</th>
        <th>Action</th>
        <th>Object</th>
    </tr>

    <tr th:each="pao : ${paos}">
        <td th:text="${pao.PaoNum}"></td>
        <td th:text="${pao.person}"></td>
        <td th:text="${pao.action}"></td>
        <td th:text="${pao.object}"></td>
    </tr>

</table>
</body>
</html>