<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${paos} and ${paos.size()}">no paos ;(</p>

    <form method="post">

        <table class="table">
            <tr>
                <th>Number</th>
                <th>Person</th>
                <th>Action</th>
                <th>Object</th>
            </tr>
        </table>

        <div th:each="pao : ${paos}" >
                <table class="table" th:for="${pao.id}">
                    <tr>
                        <td th:text="${pao.PaoNum}"></td>
                        <td th:text="${pao.person}"></td>
                        <td th:text="${pao.action}"></td>
                        <td th:text="${pao.object}"></td>
                    </tr>
                </table>
            <button type="submit" name="paoIds" th:id="${pao.id}" th:value="${pao.id}" th:text="remove"/>
        </div>
    </form>
</body>
</html>