<!DOCTYPE html>

    <html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

    <body class="container body-content">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>


    <form method="post" style="max-width: 100%;">


        <div>
            <h3>Select Number to Train</h3>

            <p th:unless="${paos} and ${paos.size()}">no paos to train ;(</p>

                <div th:each="pao : ${paos}" >
                    <label th:for="paoIds" th:text="${pao.PaoNum}"></label>
                    <input type="checkbox" name="paoIds" th:id="${pao.id}" th:value="${pao.id}"/>
                </div>
        </div>
        <button type="submit">Train!</button>

    </form>

    <div class="flashcard-container">
        <div class="flashcard">
            <div class="flash-front">font of card</div>
            <div class="flash-back">back of card</div>
        </div>
    </div>
            <div class="flashcard-container">
        <div class="flashcard">
            <div class="flash-front">font of card</div>
            <div class="flash-back">back of card</div>
        </div>
    </div>
            <div class="flashcard-container">
        <div class="flashcard">
            <div class="flash-front">font of card</div>
            <div class="flash-back">back of card</div>
        </div>
    </div>

    </body>
</html>

