<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="body-content">
    <h1 class="textContainer" th:text="${title}">Default Title</h1>

    <nav class="textContainer" th:replace="fragments :: navigation"></nav>

    <p th:unless="${users} and ${users.size()}">No users :(</p>


    <form method="post" class="textContainer">
        <div class="form-group" style="display: table-cell">
            <label for="email">Enter Email: </label>
            <input class="form-control" type="email" id="email" th:name="email"/>
        </div>
        <br/>
        <div class="form-group" style="display: table-cell">
            <label for="password">Enter Password: </label>
            <input class="form-control" type="password" id="password" th:name="password"/>
        </div>
        <br/>
        <br/>

        <button type="submit">Login</button>
    </form>

<!--        VIDEO CODE      -->

<!--    <h1>Lgoin Form</h1>-->

<!--    <form th:action="@{/login}" th:object="${loginForm}" method="post">-->
<!--        <label for="username">Username</label>-->
<!--        <input type="text" id="username" name="username" autofocus="autofocus"/>-->

<!--        <label for="password">Username</label>-->
<!--        <input type="password" id="password" name="password"/>-->

<!--        <br/>-->
<!--        <input type="submit" value="Login"/>-->

<!--    </form>-->
</body>
</html>