<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="body-content">
    <h1 class="textContainer" th:text="${title}">Default Title</h1>

    <nav class="textContainer" th:replace="fragments :: navigation"></nav>

    <form method="post" class="textContainer">
        <label for="email">Enter Email: </label>
        <input type="email" id="email"/>
        <br/>
        <label for="password">Enter Password: </label>
        <input type="password" id="password"/>

        <br/>
        <br/>

        <button type="submit">Login</button>
    </form>
</body>
</html>