<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
    <h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

    <form method="post" th:object="${users}">
        <div class="form-group" style="display: table-cell">
            <label th:for="username">Enter Name</label>
            <input class="form-control" th:field="*{username}" />
            <span th:errors="*{username}" class="error"></span>
        </div>
        <br/>
        <div class="form-group" style="display: table-cell">
            <label th:for="email">Enter Email</label>
            <input class="form-control" th:field="*{email}" />
            <span th:errors="*{email}" class="error"></span>
        </div>
        <br/>
        <div class="form-group" style="display: table-cell">
            <label th:for="password">Enter Password</label>
            <input class="form-control" type="password" th:field="*{password}" />
            <span th:errors="*{password}" class="error"></span>
        </div>
        <br/>
        <div>
            Re-enter Password
            <input type="password"/>
        </div>
        <br/>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>