body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 20px;
}

.flashcard-container {
    position: relative;
    width: 250px;
    height: 320px;
    background: green;
}

.flashcard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
}

flash-front {
    position: abbsolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc720;
    color: #333;
}

flash-back {
    position: abbsolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc720;
    color: #333;
    transform: rotateY(180deg);
}