<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head"></head>
</head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post">
        <input type="text" name="cheeseName"/>
        <input type="submit" value="Add Cheese"/>
        <br />
        <br />
        <input type="number" name="cheeseNum" />
        <input type="submit" value="how many" />
    </form>
</body>
</html>