<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My PAO</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/vendors/css/login.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="body-content">



    <nav th:fragment="navigation">
        <ul class="sticky main-nav">
            <li><a href="/pao/home">Home</a></li>
            <li><a href="/pao/edit"> Add PAO</a></li>
            <li><a href="/pao/remove"> Remove PAO</a></li>
            <li><a href="/pao"> List PAO</a></li>
            <li><a href="/pao/train"> Train PAO</a></li>
            <li><a href="/pao/login"> Login</a></li>
            <li><a href="/pao/signup"> Sign Up</a></li>
        </ul>
    </nav>

</body>
</html>